*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
h1{
    text-align: center;
    font-size: 40px;
    width: 600px;
    margin: 20px auto;
}

a{
    color: black;
    padding: 8px;
}

.menu{
    text-align: center;
    padding: 10px;
    margin: 0px 200px 30px;
}
h2, h3{
    text-align: center;
    font-size: 22px;
    padding: 15px;
    margin: 20px;
}

.image{
    text-align: center;
}

p{
    text-align: center;
    font-size: 26px;
    margin: 20px 0;
}

/* ul, ol{
    text-align: center;
    align-items: center;
    list-style-position: inside;
    font-size: 20px;
} */

.list{
    width: 65%;
    margin: 0 auto;
    text-align: left;
    list-style: inside;
    font-size: 20px;

}